
.footer_super_class
{
  background-color: #18082B;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer_common_container {

  width: 90%;
  margin: 0 auto;
  
}
.footer_container .row{

  display: flex;
  justify-content: space-between;

}

  .footer h5 {
    color: #f5f0f0;
    font-weight: bold;
  }
  
  .footer a {
    color: #fcfafa;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }
  
  .footer a:hover {
    color: #ff6f61;
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.418);
    padding: 10px;
    color: #fff;
  }
  .social-icons{

    color: #ccc;
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  }
  
  .social-icons a {
    color: #ccc;
    font-size: 1.2em;
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    align-items: start; /* Align icons to the left */
    gap: 8px; /* Space between icons */
    
  }
  
  .social-icons a:hover {
    color: #ff6f61;
  }
  